.contact-page {
    color: white;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 10vw 100px;

    .tile-label {
        font-family: 'Vujahday Script', sans-serif;
        font-size: 32px;
    }

    .github-label {
        padding-top: 180px;
        margin-left: 30vw;
    }

    .linkedin-label {
        padding-top: 150px;
        margin-left: 47vw;
    }

    .instagram-label {
        padding-top: 160px;
        margin-left: 27vw;
    }

    .email-label {
        padding-top: 150px;
        margin-left: 47vw;
    }
}

