.footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    box-shadow: 0px 0px 30px #7afb7150;
    font-family: 'Roboto Mono';
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
}