.sidebar {
    color: white;
    position: absolute;
    width: 75px;
    right: 0;
    top: 25px;
    z-index: 10;

    .icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .icon {
            fill: white;
            height: 40px;
            width: 40px;
            margin: 25px 0;

            &:hover {
                fill: #7afb71;
                cursor: pointer;
            }
        }
    }
}

 