.sidebar {
    color: white;
    position: fixed;
    width: 75px;
    right: 0;
    top: 150px;
    z-index: 10;

    .icons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .icon-container {
            border-radius: 50%;

            .icon {
                fill: white;
                height: 30px;
                width: 30px;
                margin: 25px 0;
    
                &:hover {
                    fill: #7afb71;
                    cursor: pointer;
                }
            }
        }
    }
}

.sidebar[data-ison='true'] {
    display: none;
}

@media screen and (max-width: 400px) {
    .sidebar {
        color: white;
        position: fixed;
        width: 75px;
        right: 0;
        top: 80px;
        z-index: 10;
    
        .icons {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
    
            .icon-container {
                border-radius: 50%;
    
                .icon {
                    fill: white;
                    height: 25px;
                    width: 25px;
                    margin: 10px 0;
        
                    &:hover {
                        fill: #7afb71;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


 