.project-tiles {
    position: relative;
    padding-top: 25px;
    width: 80vw;
    margin: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .motion-tile {
        position: relative;
        color: white;
        border: 1px solid #79f170;
        margin: 10px;
        width: 32vw;
        height: 20vw;
        text-align: center;
        min-width: 300px;
        min-height: 200px;
        overflow: hidden;
        background-size:cover;
        background-repeat: none;

        &:hover {
            border: 1px solid white;
            box-shadow: 0px 0px 10px #79f170;

            .content-container {
                display: block;
            }
        }

        .content-container {
            position: relative;
            background-color: rgba(0,0,0,.9);
            height: 100%;
            display: none;
            text-align: center;
            font-family: 'Roboto Mono', sans-serif;

            h1 {
                font-size: 22px;
                z-index: 1;
                padding-top: 15px;
                pointer-events: none;
            }
    
            p {
                font-size: 1rem;
                z-index: 1;
                margin: 25px;
                pointer-events: none;
            }

            button {
                background-color: #79f170;
                padding: 5px 15px;
                font-size: 15px;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: 2px;

                &:hover {
                    background-color: rgba(255,255,255,.9);
                    box-shadow: 0px 0px 10px #79f170;
                    cursor: pointer;
                }
            }

        }


    }

}



