#aboutme {
    background-color: black;
    height: calc(100vh - 125px);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 100px 10vw;

    .bio-container {
        display: flex;
        align-items: center;

        .headshot {
            width: 20vw;
            height: auto;
        }

        h1 {
            font-size: 4vw;
        }
    
        p {
            font-size: 1.5vw;
            line-height: 2vw;
            margin-left: 50px;
        }
    }

    h2 {
        margin-top: 75px;
        font-size: 3vw;
    }

    .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .badge-flex {
            margin-right: 40px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
        }
        
        .skillbutton {
            height: 35px;
        }

    }

}






